{
  "openapi": "3.0.4",
  "info": {
    "title": "BeatLeader API. Get various Beat Saber information.",
    "description": "Retrieves players, scores, rankings, maps, leaderboards and much more for Beat Saber.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.beatleader.com"
    }
  ],
  "paths": {
    "/beasties/nominations": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of nominations for particular leaderboard",
        "description": "Authenticated player Beasties nominations.",
        "operationId": "BeastSaber_GetAll",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominations/my": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of nominations for particular leaderboard",
        "description": "Authenticated player Beasties nominations.",
        "operationId": "BeastSaber_PlayerNominations",
        "responses": {
          "200": {
            "description": "List of nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BeastiesNomination"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominations/my/finalists": {
      "get": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Retrieve a list of player nominations that became finalists",
        "description": "Authenticated player Beasties nominations filtered to only finalists.",
        "operationId": "BeastSaber_PlayerFinalistNominations",
        "responses": {
          "200": {
            "description": "List of finalist nominations retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MapInfoResponseBeasties"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/beasties/nominate": {
      "post": {
        "tags": [
          "BeastSaber"
        ],
        "summary": "Nominate a map for Besties Awards",
        "description": "Nominates provided leaderboard map for mapping awards in selected category",
        "operationId": "BeastSaber_Nominate",
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map was nominated",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BestiesNominationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Autorization failed"
          }
        }
      }
    },
    "/clans": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve a list of clans",
        "description": "Fetches a paginated and optionally filtered list of clans (group of players). Filters include sorting by performance points, search, name, rank, and more.",
        "operationId": "Clan_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "enum": [
                "name",
                "pp",
                "acc",
                "rank",
                "count",
                "captures"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "name",
                    "pp",
                    "acc",
                    "rank",
                    "count",
                    "captures"
                  ],
                  "type": "string"
                }
              ],
              "default": 5
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Represents the order in which values will be sorted.",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanSortBy"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of clans retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Clans not found"
          }
        }
      }
    },
    "/clan/{tag}": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve details of a specific clan by tag",
        "description": "Fetches details of a specific clan identified by its tag.",
        "operationId": "Clan_GetClan",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "Tag of the clan to retrieve details for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort players by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "topPp",
                "name",
                "rank",
                "acc",
                "weightedAcc",
                "top1Count",
                "top1Score",
                "weightedRank",
                "topAcc",
                "hmd",
                "playCount",
                "score",
                "lastplay",
                "maxStreak",
                "replaysWatched",
                "dailyImprovements",
                "timing",
                "allContextsPp",
                "level",
                "prestige",
                "experience",
                "scorePlaytime",
                "steamPlaytime",
                "steamPlaytime2Weeks"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayerSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "topPp",
                    "name",
                    "rank",
                    "acc",
                    "weightedAcc",
                    "top1Count",
                    "top1Score",
                    "weightedRank",
                    "topAcc",
                    "hmd",
                    "playCount",
                    "score",
                    "lastplay",
                    "maxStreak",
                    "replaysWatched",
                    "dailyImprovements",
                    "timing",
                    "allContextsPp",
                    "level",
                    "prestige",
                    "experience",
                    "scorePlaytime",
                    "steamPlaytime",
                    "steamPlaytime2Weeks"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "primary",
            "in": "query",
            "description": "Whether to include only players for whom this clan is primary, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan details retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/id/{id}": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve details of a specific clan by ID",
        "description": "Fetches details of a specific clan identified by its ID.",
        "operationId": "Clan_GetClanById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the clan to retrieve details for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of players per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort players by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "topPp",
                "name",
                "rank",
                "acc",
                "weightedAcc",
                "top1Count",
                "top1Score",
                "weightedRank",
                "topAcc",
                "hmd",
                "playCount",
                "score",
                "lastplay",
                "maxStreak",
                "replaysWatched",
                "dailyImprovements",
                "timing",
                "allContextsPp",
                "level",
                "prestige",
                "experience",
                "scorePlaytime",
                "steamPlaytime",
                "steamPlaytime2Weeks"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayerSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "topPp",
                    "name",
                    "rank",
                    "acc",
                    "weightedAcc",
                    "top1Count",
                    "top1Score",
                    "weightedRank",
                    "topAcc",
                    "hmd",
                    "playCount",
                    "score",
                    "lastplay",
                    "maxStreak",
                    "replaysWatched",
                    "dailyImprovements",
                    "timing",
                    "allContextsPp",
                    "level",
                    "prestige",
                    "experience",
                    "scorePlaytime",
                    "steamPlaytime",
                    "steamPlaytime2Weeks"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "primary",
            "in": "query",
            "description": "Whether to include only players for whom this clan is primary, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan details retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/{tag}/maps": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan maps by tag",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its tag, with optional sorting and filtering.",
        "operationId": "Clan_GetClanWithMaps",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "Tag of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of maps per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort maps by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "acc",
                "rank",
                "date",
                "tohold",
                "toconquer"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanMapsSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "acc",
                    "rank",
                    "date",
                    "tohold",
                    "toconquer"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "playedStatus",
            "in": "query",
            "description": "Filter by played status of current player",
            "schema": {
              "enum": [
                "any",
                "played",
                "unplayed"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayedStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "played",
                    "unplayed"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan maps retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/id/{id}/maps": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan maps by ID",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its ID, with optional sorting and filtering.",
        "operationId": "Clan_GetClanWithMapsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of maps per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort maps by, default is Pp",
            "schema": {
              "enum": [
                "pp",
                "acc",
                "rank",
                "date",
                "tohold",
                "toconquer"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ClanMapsSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "pp",
                    "acc",
                    "rank",
                    "date",
                    "tohold",
                    "toconquer"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "playedStatus",
            "in": "query",
            "description": "Filter by played status of current player",
            "schema": {
              "enum": [
                "any",
                "played",
                "unplayed"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/PlayedStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "played",
                    "unplayed"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan maps retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanRankingResponseClanResponseFullResponseWithMetadataAndContainer"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clan/{id}/history": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan's statistic history",
        "description": "Fetches a list of player's performance metrics and various stats saved daily",
        "operationId": "Clan_GetHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Clan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Amount of days to include",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GlobalMapHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "No history saved for the given clan ID"
          }
        }
      }
    },
    "/clan/id/{id}/triangle": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve clan details for the skill triangle",
        "description": "Fetches ranked maps(maps that can be captured on the global map) for where players of clan made scores identified by its tag, with optional sorting and filtering.",
        "operationId": "Clan_GetClanTriangleData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the clan to retrieve maps for",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan triangle retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanTriangleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Clan not found"
          }
        }
      }
    },
    "/clans/globalmap": {
      "get": {
        "tags": [
          "Clan"
        ],
        "summary": "Retrieve the global clan map",
        "description": "Fetches a global map showing clan captured maps and rankings.",
        "operationId": "Clan_GlobalMap",
        "responses": {
          "200": {
            "description": "Global map retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanGlobalMap"
                }
              }
            }
          },
          "404": {
            "description": "Global map not found"
          }
        }
      }
    },
    "/experience/prestige": {
      "get": {
        "tags": [
          "Experience"
        ],
        "summary": "Reset the current player level and prestige",
        "description": "Reset the current logged in player level and prestige",
        "operationId": "Experience_PrestigePlayer",
        "responses": {
          "200": {
            "description": "Successful prestige"
          },
          "400": {
            "description": "Player is already max prestige"
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/experience/levels": {
      "get": {
        "tags": [
          "Experience"
        ],
        "summary": "Reset the current player level and prestige",
        "description": "Reset the current logged in player level and prestige",
        "operationId": "Experience_PrestiegeLevels",
        "responses": {
          "200": {
            "description": "Successful prestige",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrestiegeLevel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrestiegeLevel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PrestiegeLevel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Player is already max prestige"
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/leaderboard/{id}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Retrieve leaderboard details",
        "description": "Fetches details of a leaderboard identified by its ID, with optional sorting and filtering for scores.",
        "operationId": "Leaderboard_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the leaderboard to retrieve details for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Scores page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of scores per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort scores by, default is Rank",
            "schema": {
              "enum": [
                "date",
                "pp",
                "acc",
                "pauses",
                "rank",
                "maxStreak",
                "mistakes",
                "weight",
                "weightedPp"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "date",
                    "pp",
                    "acc",
                    "pauses",
                    "rank",
                    "maxStreak",
                    "mistakes",
                    "weight",
                    "weightedPp"
                  ],
                  "type": "string"
                }
              ],
              "default": 4
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "scoreStatus",
            "in": "query",
            "description": "Filter for score status, default is None",
            "schema": {
              "enum": [
                "none",
                "suspicious"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ScoreFilterStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "suspicious"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter for specific countries (country code, comma separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter scores by player name or clan",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modifiers",
            "in": "query",
            "description": "Modifiers to filter scores by (comma separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "friends",
            "in": "query",
            "description": "Whether to include only scores from friends, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "voters",
            "in": "query",
            "description": "Whether to include only scores from voters, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "clanTag",
            "in": "query",
            "description": "Whether to include only scores from clan, default is false",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hmds",
            "in": "query",
            "description": "Comma-separated range to filter by hmd (headset), default is null",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prediction",
            "in": "query",
            "description": "Whether to include predicted scores, default is false",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Leaderboard details retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Leaderboard not found"
          }
        }
      }
    },
    "/leaderboard/clanRankings/{id}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Retrieve clan rankings for a leaderboard",
        "description": "Fetches clan rankings for a leaderboard identified by its ID.",
        "operationId": "Leaderboard_GetClanRankings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the leaderboard to retrieve clan rankings for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of rankings per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clan rankings retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardClanRankingResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardClanRankingResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardClanRankingResponse"
                }
              }
            }
          },
          "404": {
            "description": "Leaderboard not found"
          }
        }
      }
    },
    "/leaderboards": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Retrieve a list of leaderboards (maps)",
        "description": "Fetches a paginated and optionally filtered list of leaderboards (Beat Saber maps).",
        "operationId": "Leaderboard_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of leaderboards per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort leaderboards by, default is None",
            "schema": {
              "enum": [
                "none",
                "timestamp",
                "name",
                "stars",
                "passRating",
                "accRating",
                "techRating",
                "scoreTime",
                "playCount",
                "voting",
                "voteCount",
                "voteRatio",
                "duration",
                "attempts",
                "nJS",
                "nPS",
                "bPM",
                "multiRating",
                "eBPM",
                "linearPercentage"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MapSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "timestamp",
                    "name",
                    "stars",
                    "passRating",
                    "accRating",
                    "techRating",
                    "scoreTime",
                    "playCount",
                    "voting",
                    "voteCount",
                    "voteRatio",
                    "duration",
                    "attempts",
                    "nJS",
                    "nPS",
                    "bPM",
                    "multiRating",
                    "eBPM",
                    "linearPercentage"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order of sorting, default is Desc",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter leaderboards by song, author or mapper name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of leaderboards to filter, default is All",
            "schema": {
              "enum": [
                "all",
                "ranked",
                "ranking",
                "nominated",
                "qualified",
                "staff",
                "reweighting",
                "reweighted",
                "unranked",
                "ost"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Type"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "all",
                    "ranked",
                    "ranking",
                    "nominated",
                    "qualified",
                    "staff",
                    "reweighting",
                    "reweighted",
                    "unranked",
                    "ost"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode to filter leaderboards by (Standard, OneSaber, etc...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "difficulty",
            "in": "query",
            "description": "Difficulty to filter leaderboards by (Easy, Normal, Hard, Expert, ExpertPlus)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mapType",
            "in": "query",
            "description": "Map type to filter leaderboards by",
            "schema": {
              "enum": [
                "none",
                "acc",
                "tech",
                "midspeed",
                "speed",
                "fitbeat",
                "linear",
                "bombReset"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MapTypes"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "acc",
                    "tech",
                    "midspeed",
                    "speed",
                    "fitbeat",
                    "linear",
                    "bombReset"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 0,
              "example": 127
            }
          },
          {
            "name": "allTypes",
            "in": "query",
            "description": "Operation to filter all types, default is Any",
            "schema": {
              "enum": [
                "any",
                "all",
                "not"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Operation"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "all",
                    "not"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "mapRequirements",
            "in": "query",
            "description": "Requirements to filter leaderboards by, default is Ignore",
            "schema": {
              "enum": [
                "none",
                "chroma",
                "noodles",
                "mappingExtensions",
                "cinema",
                "v3",
                "optionalProperties",
                "vNJS",
                "vivify",
                "v3Pepega",
                "groupLighting",
                "ignore"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Requirements"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024,
                    -1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "chroma",
                    "noodles",
                    "mappingExtensions",
                    "cinema",
                    "v3",
                    "optionalProperties",
                    "vNJS",
                    "vivify",
                    "v3Pepega",
                    "groupLighting",
                    "ignore"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": -1,
              "example": -1
            }
          },
          {
            "name": "allRequirements",
            "in": "query",
            "description": "Operation to filter all requirements, default is Any",
            "schema": {
              "enum": [
                "any",
                "all",
                "not"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Operation"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "any",
                    "all",
                    "not"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "songStatus",
            "in": "query",
            "description": "Song status to filter leaderboards by, default is None",
            "schema": {
              "enum": [
                "none",
                "curated",
                "mapOfTheWeek",
                "noodleMonday",
                "featuredOnCC",
                "beastSaberAwarded",
                "buildingBlocksAwarded"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/SongStatus"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "curated",
                    "mapOfTheWeek",
                    "noodleMonday",
                    "featuredOnCC",
                    "beastSaberAwarded",
                    "buildingBlocksAwarded"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 0,
              "example": 126
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Context of the leaderboard, default is General",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          },
          {
            "name": "mapCreator",
            "in": "query",
            "description": "Map creator, human by default",
            "schema": {
              "enum": [
                "human",
                "genericBot",
                "beatSage",
                "topMapper"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/SongCreator"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "human",
                    "genericBot",
                    "beatSage",
                    "topMapper"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "mytype",
            "in": "query",
            "description": "My type to filter leaderboards by, default is None",
            "schema": {
              "enum": [
                "none",
                "played",
                "unplayed",
                "myNominated",
                "othersNominated",
                "myMaps"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MyType"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "played",
                    "unplayed",
                    "myNominated",
                    "othersNominated",
                    "myMaps"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "stars_from",
            "in": "query",
            "description": "Minimum stars to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "stars_to",
            "in": "query",
            "description": "Maximum stars to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "accrating_from",
            "in": "query",
            "description": "Minimum accuracy rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "accrating_to",
            "in": "query",
            "description": "Maximum accuracy rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "passrating_from",
            "in": "query",
            "description": "Minimum pass rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "passrating_to",
            "in": "query",
            "description": "Maximum pass rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "techrating_from",
            "in": "query",
            "description": "Minimum tech rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "techrating_to",
            "in": "query",
            "description": "Maximum tech rating to filter leaderboards by",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Start date to filter leaderboards by (timestamp)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "End date to filter leaderboards by (timestamp)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "description": "Type of the date filter, default by map upload date",
            "schema": {
              "enum": [
                "upload",
                "ranked",
                "score"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/DateRangeType"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "upload",
                    "ranked",
                    "score"
                  ],
                  "type": "string"
                }
              ],
              "default": 0
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Types of leaderboards to filter, default is null(All). Same as type but multiple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playlistIds",
            "in": "query",
            "description": "Playlits Ids to filter, default is null",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mappers",
            "in": "query",
            "description": "Filter maps from a specific mappers. BeatSaver profile ID list, comma separated, default is null",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "overrideCurrentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadTreshold",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlaylistResponse"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlaylistResponse"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PlaylistResponse"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leaderboards retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardInfoResponseResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardInfoResponseResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardInfoResponseResponseWithMetadata"
                }
              }
            }
          },
          "404": {
            "description": "Leaderboards not found"
          }
        }
      }
    },
    "/leaderboard/{id}/scoregraph": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "summary": "Retrieve scores graph for a leaderboard",
        "description": "Fetches the scores graph for a leaderboard identified by its ID. Compact endpoint to use in the leaderboard data visualizations.",
        "operationId": "Leaderboard_GetScoregraph",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the leaderboard to retrieve score graph for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Leaderboard context, general by default.",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Score graph retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreGraphEntry"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreGraphEntry"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreGraphEntry"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Leaderboard not found"
          }
        }
      }
    },
    "/mappers": {
      "get": {
        "tags": [
          "Mapper"
        ],
        "summary": "Retrieve a list of known mappers",
        "description": "Fetches a paginated and optionally filtered list of mappers.",
        "operationId": "Mapper_GetAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination, default is 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of mappers per page, default is 10",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "enum": [
                "name",
                "maps",
                "rankedMaps"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MapperSortBy"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "name",
                    "maps",
                    "rankedMaps"
                  ],
                  "type": "string"
                }
              ],
              "default": 2
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Represents the order in which values will be sorted.",
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Order"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    1
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "desc",
                    "asc"
                  ],
                  "type": "string"
                }
              ],
              "description": "Represents the order in which values will be sorted.",
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of mappers retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClanResponseFullResponseWithMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Mappers not found"
          }
        }
      }
    },
    "/modifiers": {
      "get": {
        "tags": [
          "Modifiers"
        ],
        "summary": "Retrieve Legacy Modifiers",
        "description": "Provides a list of Beat Saber modifiers and their associated score multiplier values. This is legacy support, for the recent values please use `modifierValues` and `modifierRatings` on leaderboards.",
        "operationId": "Modifiers_GetModifiers",
        "responses": {
          "200": {
            "description": "Modifiers retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyModifiers"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyModifiers"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegacyModifiers"
                }
              }
            }
          }
        }
      }
    },
    "/refreshmypatreon": {
      "get": {
        "tags": [
          "Patreon"
        ],
        "summary": "Refresh Patreon Link",
        "description": "Refreshes the Patreon link for the current user, updating their Patreon tier and roles based on the latest information.",
        "operationId": "Patreon_RefreshMyPatreon",
        "responses": {
          "200": {
            "description": "Patreon link refreshed successfully"
          },
          "400": {
            "description": "Bad request, no existing Patreon link"
          },
          "401": {
            "description": "Unauthorized, user not found or not logged in"
          }
        }
      }
    },
    "/player/{id}/pinnedScores": {
      "get": {
        "tags": [
          "PinnedScore"
        ],
        "summary": "Retrieve player's pinned scores",
        "description": "Fetches a paginated list of scores pinned by player for their ID.",
        "operationId": "PinnedScore_GetPinnedScores",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Player's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Filter scores by leaderboard context, default is 'General'",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scores retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttemptResponseWithMyScore"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttemptResponseWithMyScore"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttemptResponseWithMyScore"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Scores not found for the given player ID"
          }
        }
      }
    },
    "/player/{id}/favoriteMaps": {
      "get": {
        "tags": [
          "PinnedScore"
        ],
        "summary": "Retrieve player's favorite maps",
        "description": "Fetches a paginated list of maps selected by player for their ID.",
        "operationId": "PinnedScore_GetFavoriteMaps",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Player's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maps retrieved successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteMapResponseWithMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteMapResponseWithMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteMapResponseWithMetadata"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Maps not found for the given player ID"
          }
        }
      }
    },
    "/player/{id}/exists": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Check if player with such ID or alias exists",
        "description": "Retrieves a status of potential Beat Saber profile for a specific player ID.",
        "operationId": "Player_Exists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the player",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player exists"
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/player/{id}": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get player profile",
        "description": "Retrieves a Beat Saber profile data for a specific player ID.",
        "operationId": "Player_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the player",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stats",
            "in": "query",
            "description": "Include stats in the response",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "keepOriginalId",
            "in": "query",
            "description": "Whether to keep original ID (for migrated players)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "leaderboardContext",
            "in": "query",
            "description": "Leaderboard context, 'general' by default",
            "schema": {
              "enum": [
                "none",
                "general",
                "noMods",
                "noPause",
                "golf",
                "sCPM",
                "speedrun",
                "speedrunBackup",
                "funny",
                "backUp",
                "funnyV2"
              ],
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/LeaderboardContexts"
                }
              ],
              "oneOf": [
                {
                  "enum": [
                    0,
                    2,
                    4,
                    8,
                    16,
                    32,
                    64,
                    128,
                    256,
                    512,
                    1024
                  ],
                  "type": "integer"
                },
                {
                  "enum": [
                    "none",
                    "general",
                    "noMods",
                    "noPause",
                    "golf",
                    "sCPM",
                    "speedrun",
                    "speedrunBackup",
                    "funny",
                    "backUp",
                    "funnyV2"
                  ],
                  "type": "string"
                }
              ],
              "description": "Bitmask enum. Values can be combined using bitwise OR operator.",
              "default": 2,
              "example": 2046
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the player's full profile",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              }
            }
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/player/discord/{id}": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get player with Discord",
        "description": "Retrieves a BeatLeader profile data with linked Discord profile.",
        "operationId": "Player_GetDiscord",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Discord profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the player's full profile",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              }
            }
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/player/beatsaver/{id}": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get player with BeatSaver",
        "description": "Retrieves a BeatLeader profile data with linked BeatSaver profile.",
        "operationId": "Player_GetBeatSaver",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "BeatSaver profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the player's full profile",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              }
            }
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
    "/player/patreon/{id}": {
      "get": {
        "tags": [
          "Player"
        ],
        "summary": "Get player with Patreon",
        "description": "Retrieves a BeatLeader profile data with linked Patreon profile.",
        "operationId": "Player_GetPatreon",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Patreon profile ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the player's full profile",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponseFull"
                }
              }
            }
          },
          "404": {
            "description": "Player not found"
          }
        }
      }
    },
[...]
